
<div class="container">
    <h1 class="text-center mt-4">CRSF Acttack</h1>
    <form class="mt-4"  method="POST" action="">
        <div class="form">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Input account</label>
                <input type="text" name="account" class="form-control" id="inputEmail4" required placeholder="Input account">
            </div>
            <div class="form-group col-md-12">
                <label for="inputPassword4">Input amount</label>
                <input type="text"  name="amount" class="form-control" id="inputPassword4" required placeholder="Input amount">
            </div>
        </div>
        <button type="submit" class="btn btn-primary ml-4">Confirm</button>
    </form>
</div>
